@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  background-color: #DEDEDE;
  color: #333;
  padding: 20px 0 28px 0;
  margin: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
}

h1,h2,h3 {
  text-align: center;
}

.collapsible {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.sab {
  max-width: 650px;
  padding: 20px;
  margin: auto auto;
  background-color: #FFF;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.sab-img {
  float: left;
  height: 5.1rem;
  margin-right: 15px;

}

table, th, td {
  border: 1px solid black;
  float: center;
}

table {
  width: 100%;
}